    <!-- RESPONSIVE NEW BOTTOMBAR -->
    <div class="container-fluid bottomBar">
        <div class="row align-items-center">
  
            <!-- contact information -->
            <div class="col-lg-4">
                <table class="contactTable mx-auto">
                    <tr>
                        <td><i class="fa-solid fa-phone contact-icon"></i></td>
                        <td class="contactTextAlign"><a class="contactText" href="">+91 9780017475</a></td>
                    </tr>
                    <tr>
                        <td><i class="fa-solid fa-envelope contact-icon"></i></td>
                        <td class="contactTextAlign"><a class="contactText" href="mailto:rishimamakeupartist@gmail.com">rishimamakeupartist@gmail.com</a></td>
                    </tr>
  
                    <tr>
                        <td><i class="fa-brands fa-instagram contact-icon"></i></td>
                        <td class="contactTextAlign"><a class="contactText" href="https://instagram.com/rishimamakeupartist?igshid=YWJhMjlhZTc=">@rishimamakeupartist</a></td>
                    </tr>
                </table>
                
            </div>
  
            <!-- bottom bar logo -->
            <div class="col-lg-4">
                <img src="images/RA_logo_final_crop.png" alt="Rishima Makeup Artist" id="logoBottomBar">
  
            </div>
  
            <!-- location information -->
            <div class="col-lg-4">
  
                <table class="contactTable mx-auto">
                    <tr>
                        <td>
                            <i class="fa-solid fa-location-dot contact-icon"></i>
                        </td>
                        <td>
                            <p class="locationText">Hoshiarpur, Punjab</p>
                            <p class="locationText">India</p>
                            <p class="locationText">146001</p>
                        </td>
                    </tr>
                </table>
  
            </div>
  
        </div>
  
        <div class="row align-items-center made-w-love">
            <div class="col-lg-4 mx-auto">
                <p class="end-text">Made with <i class="fa-solid fa-heart end-text"></i> by Bobba</p>
            </div>
        </div>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </body>
  </html>