<%- include("header") %>
        <img src="images/RA_logo_final.png" alt="RishimaMUA" id="RALogo">
    </div>

    <!-- section 1 -->
    <section class="section-gallery odd-section-gallery">

        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h3 class="gallery-heading">BRIDAL MAKEUP</h3>
                    <p class="gallery-para gallery-para-odd">Our goal is to provide the perfect wedding look, ensuring satisfaction and complimenting your outfit, whether it's a day or night bride, to make you look like an angel.</p>
                </div>
                <div class="col-lg-6">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride='carousel' data-bs-interval="3000" data-bs-pause="hover">
                        <div class="carousel-inner">
                            <!--Specifying active here means that this carousel item is the default one-->
                          <div class="carousel-item active" >
                            <img src="images/bridal.jpg" alt="dog-profile" class="carousel-image">
                          </div>
                          <div class="carousel-item">
                            <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2> -->
                            <img class="carousel-image" src="images/bridal_2.jpg" alt="lady-profile">
                            <!-- <em>Beverly, Illinois</em> -->
                          </div>
                          <div class="carousel-item">
                            <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2> -->
                            <img class="carousel-image" src="images/bridal_3.jpg" alt="lady-profile">
                            <!-- <em>Beverly, Illinois</em> -->
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <!--The line below is the icon for the button-->
                          <!--aria-hidden True means that the program reading a website for a blind person will skip over the name of the button-->
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>

                </div>    
            </div>

        </div>
    </section>

    <!-- section 2 -->
    <section class="section-gallery even-section-gallery">

        <div class="container-fluid">
            <div class="row align-items-center">
                
                <div class="col-lg-6">
                    <div id="carouselExampleControls1" class="carousel slide" data-bs-ride='carousel' data-bs-interval="3000" data-bs-pause="hover">
                        <div class="carousel-inner">
                            <!--Specifying active here means that this carousel item is the default one-->
                          <div class="carousel-item active" >
                            <!-- <h2>I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2> -->
                            <img src="images/PB2.jpg" alt="dog-profile" class="carousel-image">
                            <!-- <em>Pebbles, New York</em> -->
                          </div>
                          <div class="carousel-item">
                            <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2> -->
                            <img class="carousel-image" src="images/XYZ1.jpg" alt="lady-profile">
                            <!-- <em>Beverly, Illinois</em> -->
                          </div>
                          <div class="carousel-item">
                            <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2> -->
                            <img class="carousel-image" src="images/PB3.jpg" alt="lady-profile">
                            <!-- <em>Beverly, Illinois</em> -->
                          </div>
                          <div class="carousel-item">
                            <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2> -->
                            <img class="carousel-image" src="images/XYZ2.jpg" alt="lady-profile">
                            <!-- <em>Beverly, Illinois</em> -->
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
                          <!--The line below is the icon for the button-->
                          <!--aria-hidden True means that the program reading a website for a blind person will skip over the name of the button-->
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>

                </div> 
                
                <div class="col-lg-6">
                    <h3 class="gallery-heading gallery-heading-even reduce-heading-size">PRE BRIDAL FUNCTIONS</h3>
                    <p class="gallery-para">Bridal functions, including Haldi, Mehndi, Cocktail, Reception, and Sangeet, require makeup that complements outfits and creates a polished look. Our one-stop shop offers various finishes, eyeshadows, lips, and eye makeup options.</p>
                </div>
            </div>

        </div>
    </section>

    <!-- section 3 -->
    <section class="section-gallery odd-section-gallery">

        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h3 class="gallery-heading">PARTY MAKEUP</h3>
                    <p class="gallery-para gallery-para-odd">Whether you are a relative of the happy couple, a wedding guest or just going out for a party, this is the category for you. Our mission is to make you look flawless and radiant and to give you a look that is only second to the bride herself.</p>
                </div>
                <div class="col-lg-6">
                    <div id="carouselExampleControls2" class="carousel slide" data-bs-ride='carousel' data-bs-interval="3000" data-bs-pause="hover">
                        <div class="carousel-inner">
                            <!--Specifying active here means that this carousel item is the default one-->
                          <div class="carousel-item active" >
                            <!-- <h2>I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2> -->
                            <img src="images/party1.jpg" alt="dog-profile" class="carousel-image">
                            <!-- <em>Pebbles, New York</em> -->
                          </div>
                          <div class="carousel-item">
                            <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2> -->
                            <img class="carousel-image" src="images/party3.JPG" alt="lady-profile">
                            <!-- <em>Beverly, Illinois</em> -->
                          </div>
                          <div class="carousel-item">
                            <img class="carousel-image" src="images/PB.png" alt="lady-profile">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                          <!--The line below is the icon for the button-->
                          <!--aria-hidden True means that the program reading a website for a blind person will skip over the name of the button-->
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>

                </div>    
            </div>

        </div>
    </section>

    <!-- section 4 -->
    <section class="section-gallery even-section-gallery">

        <div class="container-fluid">
            <div class="row align-items-center">
                
                <div class="col-lg-6">
                    <div id="carouselExampleControls4" class="carousel slide" data-bs-ride='carousel' data-bs-interval="3000" data-bs-pause="hover">
                        <div class="carousel-inner">
                            <!--Specifying active here means that this carousel item is the default one-->
                          <div class="carousel-item active" >
                            <!-- <h2>I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2> -->
                            <img src="images/editorial.JPG" alt="dog-profile" class="carousel-image">
                            <!-- <em>Pebbles, New York</em> -->
                          </div>
                          <div class="carousel-item">
                            <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2> -->
                            <img class="carousel-image" src="images/addtoeditorial.JPG" alt="lady-profile">
                            <!-- <em>Beverly, Illinois</em> -->
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls4" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls4" data-bs-slide="next">
                          <!--The line below is the icon for the button-->
                          <!--aria-hidden True means that the program reading a website for a blind person will skip over the name of the button-->
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>

                </div> 
                
                <div class="col-lg-6">
                    <h3 class="gallery-heading gallery-heading-even">EDITORIAL MAKEUP</h3>
                    <p class="gallery-para">Editorial makeup is makeup one can't wear on a day to day basis. The aim of this is to sell products and is commonly seen in magazines. This is out of the box, conceptual makeup and hair. Please contact us via email to enquire about this category including information about the details of the shoots and products being sold (if any).</p>
                </div>
            </div>

        </div>
    </section>

    <!-- section 5 -->
    <section class="section-gallery odd-section-gallery">

        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 ">
                    <h3 class="gallery-heading">SPECIAL EFFECTS</h3>
                    <p class="gallery-para gallery-para-odd">In simple terms, this is halloween makeup or makeup used in high budget movies. The aim of this kind of makeup is to create illusions and effects using makeup and prosthetics. Please contact us via email to enquire about this category, with information about the event that you are attending or any additional information about the brief.</p>
                </div>
                <div class="col-lg-6">
                    <div id="carouselExampleControls3" class="carousel slide" data-bs-ride='carousel' data-bs-interval="3000" data-bs-pause="hover">
                        <div class="carousel-inner">
                            <!--Specifying active here means that this carousel item is the default one-->
                          <div class="carousel-item active" >
                            <!-- <h2>I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2> -->
                            <img src="images/SE.PNG" alt="dog-profile" class="carousel-image">
                            <!-- <em>Pebbles, New York</em> -->
                          </div>
                          <div class="carousel-item">
                            <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2> -->
                            <img class="carousel-image" src="images/SE2.PNG" alt="lady-profile">
                            <!-- <em>Beverly, Illinois</em> -->
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
                          <!--The line below is the icon for the button-->
                          <!--aria-hidden True means that the program reading a website for a blind person will skip over the name of the button-->
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>

                </div>    
            </div>

        </div>
    </section>
<%- include("footer") %>