<%- include("header") %>
        <img src="images/RA_logo_final.png" alt="RishimaMUA" id="RALogo">
    </div>

    <div id="landingPage">
        <section id="index-carousel">

            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <h3 class="gallery-heading">MAKEUP. REDEFINED.</h3>
                        <!-- <p class="gallery-para gallery-para-odd">bruh moment frl</p> -->
                    </div>
                    <div class="col-lg-6">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride='carousel' data-bs-interval="3000" data-bs-pause="hover">
                            <div class="carousel-inner">
                                <!--Specifying active here means that this carousel item is the default one-->
                              <div class="carousel-item active" >
                                <!-- <h2>I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2> -->
                                <img src="images/bridal.jpg" alt="dog-profile" class="carousel-image">
                                <!-- <em>Pebbles, New York</em> -->
                              </div>
                              <div class="carousel-item">
                                <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2> -->
                                <img class="carousel-image" src="images/party1.jpg" alt="lady-profile">
                                <!-- <em>Beverly, Illinois</em> -->
                              </div>
                              <div class="carousel-item">
                                <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2> -->
                                <img class="carousel-image" src="images/party3.JPG" alt="lady-profile">
                                <!-- <em>Beverly, Illinois</em> -->
                              </div>
                              <div class="carousel-item">
                                <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2> -->
                                <img class="carousel-image" src="images/PB2.jpg" alt="lady-profile">
                                <!-- <em>Beverly, Illinois</em> -->
                              </div>
                              <div class="carousel-item">
                                <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2> -->
                                <img class="carousel-image rotate-image" src="images/bridal_2.jpg" alt="lady-profile">
                                <!-- <em>Beverly, Illinois</em> -->
                              </div>
                              <div class="carousel-item">
                                <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2> -->
                                <img class="carousel-image" src="images/party4.JPG" alt="lady-profile">
                                <!-- <em>Beverly, Illinois</em> -->
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <!--The line below is the icon for the button-->
                              <!--aria-hidden True means that the program reading a website for a blind person will skip over the name of the button-->
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
    
                    </div>    
                </div>
    
            </div>
        </section>

        <button class="submitButton" id="getInTouchButton-index" type="button" onclick="window.location.href='getInTouch'">Get In Touch</button>

        <div id="aboutUSsection">
            <h2 class="landingPageHeading">About Us</h2>
            <p id="aboutUSpara1">We are an up-and-coming business and we practice a hybrid model where we take both, studio and outstation/ freelance bookings. 
            We use the highest quality of imported products from well renowned brands some of which include Huda Beauty, Jeffree Star Cosmetics, Fenty Beauty, Rare Beauty, Patrick Ta beauty, Charlotte Tilbury, NARS and many more.
            </p>
            <p>
            Our aim is to provide the finest of experiences to all our brides on their big day. We go above and beyond for all our customers to make them feel welcome, cherished and appreciated. 
            We believe in giving our clients a skin like finish which feels like second skin and to make women across the world feel more confident, strong and brave about who they are. Our goal is to give every one of our clients that moment of WOW and awe when they look at themselves for the first time after their makeover. 

            </p>
            <hr class="landingPageHR">
        </div>

        <div id="ourVisionSection">
            <h2 class="landingPageHeading">Our Vision</h2>
            <p>Our pursuit is to become the Creme de la creme of the beauty and personal care industry with customer sevice embeded into the core of our undertaking, listening to every opinion, feedback and testimonial that comes our way and make ourselves more adaptable and improved with every coming day. </p>
            <hr class="landingPageHR">
        </div>

        <div id="certificationSection">
            <h2 class="landingPageHeading">Certification</h2>
            <p>
                This Accounting and Finance major turned Makeup Artist solely due to her passion and love for Beauty and Aesthetics has been certified from <strong>The Australian Academy of Hair and Makeup</strong> based in Melbourne where she completed 10 weeks of course work under the careful guidance of Industry professionals.
            </p>
            <img src="images/AOHM_black-removebg-preview.png" alt="AOHM" id="AOHM" class="">
            <hr class="landingPageHR">
        </div>
    </div>

    
<%- include("footer") %>